<div class="container">
	<div class="row">
		<div class="col text-center mt-5 mb-4">
			<h1>{{title}}</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">

		<div
			class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 text-center"
		>
			<div class="me-3">
				<img src="/api/heart.png" class="img-fluid" />
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-5 pt-5">
			<blockquote class="blockquote">
				Are you a fan of commercial holidays and boring technology
				terms?
			</blockquote>
			<blockquote class="blockquote">
				Do you snicker at Mark Zuckerborg memes while secretly hoping
				the imminent overthrow won't be too violent?
			</blockquote>

			<p>
				Use this generator to create the perfect phrase to let your AI
				(or random collection of if/else statements) know you are ready
				to take your tech dependency to the next level!
			</p>

			<ol>
				<li>Refresh page to generate a new heart</li>
				<li>Right+click on the image to save the file</li>
			</ol>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-10 offset-md-1 text-center mt-5">

			<img src="assets/img/heart-3.png" width="100px" />
			<img src="assets/img/heart-1.png" width="100px" />
			<img src="assets/img/heart-4.png" width="100px" />
			<img src="assets/img/heart-2.png" width="100px" />
			<img src="assets/img/heart-5.png" width="100px" />
			<img src="assets/img/heart-11.png" width="100px" />
			<img src="assets/img/heart-8.png" width="100px" />
			<img src="assets/img/heart-6.png" width="100px" />
			<img src="assets/img/heart-7.png" width="100px" />
			<img src="assets/img/heart-15.png" width="100px" />

		</div>
	</div>
</div>