<div class="container">
	<div class="row">
		<div class="col text-center mt-5">

			<h1>{{title}}</h1>
			<p>Do you like commercial holidays and boring technology terms?
				<br />
				This generator will create the perfect phrase for
				your AI (or random collection of if/else statements)<br />
				Click refresh to generate a new heart and right+click to save
				the file.</p>

			<img src="/api/heart.png" class="img-fluid" />

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center mt-5">

<img src="assets/img/heart-3.png" width="100px">
<img src="assets/img/heart-1.png" width="100px">
<img src="assets/img/heart-4.png" width="100px">
<img src="assets/img/heart-2.png" width="100px">
<img src="assets/img/heart-5.png" width="100px">
<img src="assets/img/heart-11.png" width="100px">
<img src="assets/img/heart-8.png" width="100px">
<img src="assets/img/heart-6.png" width="100px"> 
<img src="assets/img/heart-7.png" width="100px">
<img src="assets/img/heart-15.png" width="100px">

		</div>
	</div>
</div>
